<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="true" menu="menu-balance"></ion-menu-button>
    </ion-buttons>
    <ion-title>Agregar saldo</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/home']">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<app-menu [menuId]="'menu-balance'"></app-menu>

<ion-content [fullscreen]="true" class="ion-padding" id="main-content">
  <ion-card>
    <ion-card-content>
  
  <ion-list>
    <ion-card-title>Ingrese el monto que desea agregar:</ion-card-title>
    <br>
    <ion-item>
      <ion-input
        [(ngModel)]="inputBalance"
        labelPlacement="floating"
        fill="outline"
        placeholder="Ingrese monto"
        type="number"
      ></ion-input>
    </ion-item>
   
  </ion-list>
  </ion-card-content>
</ion-card>
 <ion-button expand="block" (click)="addBalance()" color="success">
      Agregar saldo<ion-icon name="cash-outline"></ion-icon>
    </ion-button>
</ion-content>
