<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false" menu="menu-ridelist"></ion-menu-button>
    </ion-buttons>
    <ion-title>Viajes Disponibles<ion-icon name="today-outline"></ion-icon></ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/home']">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<app-menu [menuId]="'menu-ridelist'"></app-menu>

<ion-content [fullscreen]="true" id="main-content">
  <ion-list>
    <ion-item *ngFor="let ride of rides">
      <ion-label>
        <h2>Fecha y hora: {{ride.dateTime | date: 'short' }}</h2>
        <p>Asientos disponibles: {{ride.seatsAvailable}}</p>
        <p>Precio: {{ride.price}}</p>
      </ion-label>
      <ion-button color="danger" slot="end" (click)="joinRide(ride)"> Unirse<ion-icon name="add-circle-outline"></ion-icon> </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
