<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false" menu="menu-ride"></ion-menu-button>
    </ion-buttons>
    <ion-title>Programar nuevo viaje</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/home']">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-menu menuId="menu-ride" contentId="createride-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item routerLink="/home">Ir a Home</ion-item>
      <ion-item routerLink="/page2">Unirse a un viaje</ion-item>
      <ion-item routerLink="/page3">Mi viaje</ion-item>
      <ion-item routerLink="/page3">Cerrar Sesión</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-content [fullscreen]="true" id="createride-content">
  <ion-header class="ion-text-center ion-no-border">
    <br />
    <br />
  </ion-header>
  <ion-list>
    <ion-item>
      <p>Fecha y hora de salida</p>
    </ion-item>
    <ion-item>
      <ion-datetime [(ngModel)]="dateTime"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-input
        [(ngModel)]="seatsAvailable"
        label="Asientos disponibles"
        labelPlacement="floating"
        type="number"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        [(ngModel)]="price"
        label="Precio por persona"
        labelPlacement="floating"
        type="number"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        [(ngModel)]="location"
        label="Lugar de encuentro"
        labelPlacement="floating"
      ></ion-input>
    </ion-item>
  </ion-list>
  <ion-button expand="block"(click)="onSubmit()"> Crear viaje </ion-button>
  <ion-button expand="block"(click)="checkData()"> Check data </ion-button>
</ion-content>
