<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false" menu="menu-ride"></ion-menu-button>
    </ion-buttons>
    <ion-title
      >Programar nuevo viaje<ion-icon name="navigate-outline"></ion-icon
    ></ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/home']">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<app-menu [menuId]="'menu-ride'"></app-menu>

<ion-content [fullscreen]="true" id="main-content">
  <ion-header class="ion-text-center ion-no-border">
    <br />
    <br />
  </ion-header>
  <ion-list>
    <ion-item>
      <p>
        Fecha y hora de salida <ion-icon name="calendar-outline"></ion-icon>
      </p>
    </ion-item>
    <ion-item>
      <ion-datetime [(ngModel)]="dateTime"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-input
        [(ngModel)]="seatsAvailable"
        label="Asientos disponibles"
        labelPlacement="floating"
        type="number"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        [(ngModel)]="price"
        label="Precio por persona:"
        labelPlacement="floating"
        type="number"
      ></ion-input>
    </ion-item>
    <ion-item>
      <p>Seleccione punto de partida:</p>
    </ion-item>
    <ion-item>
      <div id="map_startpoint"></div>
    </ion-item>
    <ion-item>
      <p>Seleccione punto de destino:</p>
    </ion-item>
    <ion-item>
      <div id="map_destination"></div>
    </ion-item>
  </ion-list>
  <ion-button expand="block" (click)="onSubmit()" color="secondary">
    Crear viaje <ion-icon name="navigate-circle-outline"></ion-icon>
  </ion-button>
  <ion-button expand="block" (click)="checkData()" color="secondary">
    Check data <ion-icon name="checkmark-done-outline"></ion-icon>
  </ion-button>
</ion-content>
