<ion-header>
  <ion-toolbar>
    <ion-title>Ingreso de Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">Nombre de Usuario</ion-label>
      <ion-input formControlName="username" type="text" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input
        formControlName="password"
        type="password"
        required
      ></ion-input>
    </ion-item>

    <ion-button expand="full" type="submit"> Ingresar </ion-button>

    <ion-button expand="full" fill="clear" [routerLink]="['/forgot-password']">
      Restablecer Contraseña
    </ion-button>
  </form>
</ion-content>
