<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="true" menu="menu-my-ride"></ion-menu-button>
    </ion-buttons>
    <ion-title>Mi viaje<ion-icon name="navigate-outline"></ion-icon></ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/home']">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<app-menu [menuId]="'menu-my-ride'"></app-menu>

<ion-content [fullscreen]="true" class="ion-padding" id="main-content">
  <ion-header collapse="condense" class="ion-text-center ion-no-border">
  </ion-header>
  <h2 *ngIf="ride != undefined">Detalles de su viaje:</h2>
  <p *ngIf="ride === undefined" class="ion-text-center ion-no-border">
    No eres parte de ningún ride.
  </p>
  <ion-button [routerLink]="['/rides-list']"*ngIf="ride === undefined" class="ion-text-center ion-no-border">Unirse a un ride</ion-button>
  <ion-item *ngIf="ride != undefined">
    <ion-label>
      <h2>Ride Id: {{ ride.id }}</h2>
      <h2>Asientos disponibles: {{ ride.seatsAvailable }}</h2>
      <h2>Precio: {{ ride.price }}</h2>
      <h2>Recorrido:</h2>
    </ion-label>
  </ion-item>
  <div id="map" [style.display]="ride !== undefined ? 'block' : 'none'"></div>
  <ion-button *ngIf="ride != undefined" expand="block" (click)="abandonRideSubmit()"
    >Abandonar ride</ion-button
  >
</ion-content>
