<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="true" menu="menu-home"></ion-menu-button>
    </ion-buttons>

    <ion-title class="ion-text-center">TeLlevoApp</ion-title>
  </ion-toolbar>
</ion-header>

<app-menu [menuId]="'menu-home'"></app-menu>

<ion-content class="ion-padding" id="main-content">
  <h2 class="ion-text-center">Bienvenido! {{ username }}</h2>
  <h6 class="ion-text-center">Ingresa tu usuario aquí:</h6>
  <ion-button expand="full" color="primary" (click)="goToLogin()">
    Ir a Login
  </ion-button>
  <p>Saldo: ${{ balance }}</p>
  
  <p>Clima en Santiago:</p>
  <p>Son las {{ time }}</p>
  <p>Temperatura: {{ temperature }}°</p>

</ion-content>
