<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false" menu="menu-home"></ion-menu-button>
    </ion-buttons>

    <ion-title class="ion-text-center">TeLlevoApp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-menu menuId="menu-home" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item routerLink="/create-ride">Programar nuevo viaje</ion-item>
      <ion-item routerLink="/rides-list">Viajes Disponibles</ion-item>
      <ion-item routerLink="/page3">Mi viaje</ion-item>
      <ion-item routerLink="/page3">Cerrar Sesión</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-content class="ion-padding" id="main-content">
  <h2 class="ion-text-center">Bienvenido! {{ username }}</h2>
  <h6 class="ion-text-center">Ingresa tu usuario aquí:</h6>
  <ion-button expand="full" color="primary" (click)="goToLogin()">
    Ir a Login
  </ion-button>
</ion-content>
