<ion-menu [menuId]="menuId" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item routerLink="/home">Home</ion-item>
      <ion-item routerLink="/create-ride">Programar nuevo viaje</ion-item>
      <ion-item routerLink="/rides-list">Viajes disponibles</ion-item>
      <ion-item routerLink="/add-balance">Agregar saldo</ion-item>
      <ion-item (click)="logout()">Cerrar Sesión</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
